# Rust
/target/
/**/target/
**/*.rs.bk
**/*.rs.bak
Cargo.lock
*.dSYM/

# Trunk
/dist/
/pkg/

# Node / tree-sitter
node_modules/
package-lock.json
*.log

# macOS
.DS_Store

# VSCode
.vscode/
*.code-workspace

# Backup files
*~
*.swp
*.tmp
*.bak

# WASM build artifacts
*.wasm
*.tsbuildinfo
*.js
!tree-sitter-phz/grammar.js
